

.Accueil{
    // background-image: url(/img/ball-sn.jpg);
    background: radial-gradient(ellipse at bottom, $color4 20%, green);
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 34px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .SeConnecter {
        width: 320px;
        padding: 30px 20px;
        background: rgba(0,0,0,0.7);
        margin: 20px 0;
        box-shadow: 0 0 30px;
        border-radius: 10px;
        label{
            color: white;
        }
        .btnSubmit{
            background: $color5;
            color: white;
            font-weight: bold;
        }
    }
    .accueil-intro {
        text-align: center;
        &.federation{
            h5{
                color: white;
            }
        }
        h5{
            color: $color1;
            font-weight: bold;
            text-decoration: underline;
        }
        img{
            width: 110px;;
            height: 110px;
            &.yux-logo{
                border-radius: 25%;
                border: 2px solid;
                transition: all 0.5s;
                &:hover{
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
                }
            }
        }
    }
}