

.Classement{
    position: relative;

    // Refresh le tableau de classement
    .refresher {
        position: absolute;
        top: 47%;
        font-size: 40px;
        padding: 10px;
        background: rgba(0,0,0,0.5);
        color: #e7e4e1;
        border-radius: 5px;
        box-shadow: 0 0 5px black;
        cursor: pointer;
    }
    .fsf-logo{
        text-align: center;
        padding: 10px;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .tableau-wrapper{
        .date {
            text-align: center;
            font-weight: bold;
        }
    }
    .tableau-intro{
        text-align: center;
        padding: 10px 10px 40px;
        h3{

        }
        h4{

        }
        p{
            margin-bottom: 5px;
            color: $color1;
        }
        img{
            width: 80px;
            height: 58px;
        }
    }
    
    .links-wrapper{
        background-image: url(/img/emprunte.png);
        text-align: center;
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: center;
        height: 100%;
        min-height: 50px;
    }
}

// On sèpare Tableau de la class .Classement parce qu'on peut mettre le classement autre part
.Tableau{
    table{
        thead{
            background: black;
            color: $color5;
        }
        tbody{
            text-align: center;
            background: $color5;
            .equipe{
                text-align: left;
                a{
                    color: inherit !important;
                    text-decoration: underline;
                }
            }
            tr:nth-child(2n){
                background: $color2;
            }

        }
    }
}