
// Styles à inclure

@mixin  bgImgOverlay {
    background-image: url(/img/slss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &:before {
        content: "";
        background: rgba(255,255,255,0.8);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}

// Mixin pour média queries
@mixin mediaQuery($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@media (max-width: 576px){
    .container {
        max-width: none;
    }
}

