/* Coolors Exported Palette - coolors.co/23bfc8-77d1d5-ffffff-e1f7fc-55bbc2 */


// Palette Yux logo from https://coolors.co/23bfc8-77d1d5-ffffff-e1f7fc-55bbc2

/* HSL */
// $color1: hsla(183%, 70%, 46%, 1);
// $color2: hsla(183%, 53%, 65%, 1);
// $color3: hsla(0%, 0%, 100%, 1);
// $color4: hsla(191%, 82%, 94%, 1);
// $color5: hsla(184%, 47%, 55%, 1);

/* RGB */
$color1: rgba(35, 191, 200, 1);
$color2: rgba(119, 209, 213, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(225, 247, 252, 1);
$color5: rgba(85, 187, 194, 1);